<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mt-2 mb-2 dropColor">
      <h1>
        Welcome to TutorMe
      </h1>
      <h3 class="mt-3">
        Australia's hub for university tutoring.
      </h3>
    </div>
    <div class="col-12 text-center mt-2 mb-2 dropColor">
      <p>
        TutorMe is a place for students and tutors to connect. It's free to sign up for, and can help you get matched with someone who can help.
      </p>
    </div>
    <div class="col-12 text-center mt-2 mb-2 dropColor">
      <p>
        If you're a student, you can find a high achiever who's an expert in the course you're taking.
        It's easy to connect with them and book a session to get some 1 on 1 teaching and help further you understanding.
      </p>
      <button type="submit" class="btn btn-secondary" routerLink="/search">Connect with a tutor</button>
    </div>
    <div class="col-12 text-center mt-2 mb-2 dropColor">
      <p>
        If you're a tutor, this is a great way to earn some extra money doing something fun - teaching!
        All with a flexible arrangement with no minimum required working hours.
        You set the price, and the students will come. Just let us know when you're available, and what subjects you offer.
      </p>
      <button type="submit" class="btn btn-secondary" routerLink="/register">Register</button>
    </div>
    
  </div>
</div>