

$red-color: #DC3522;
$sand-color: #D9CB9E;
$teal-color: #374140;
$grey-color: #2A2C2B;
$charcoal-color: #1E1E20;

$--primary: #ff9e50;
$--secondary: #1fa2e5;
$--secondary-light: #24b1f8;
$--highlight: #8e83bc;
$--highlight-light: #d6d3e256;


$blue:    #334D5C;
$indigo:  #6f4ea3;
$purple:  #553394;
$pink:    #d679a4;
$red:     #9e323c;
$orange:  #c46416;
$yellow:  #EFC94C;
$green:   #4f9e61;
$teal:    #2fa582;
$cyan:    #0c7a8b;