@import "../../../assets/scss/partials/colors.vars";

.dropColor {
    background-color: $--yellow;
    height: 100%;
    padding-bottom: 40px;
    box-shadow: 5px 5px 0px $--highlight;
    transition: all 0.1s linear;
    &:hover {
        margin-left: -5px;
        margin-right: 5px;
        box-shadow: 10px 10px 0px $--highlight;
    }
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $--secondary;
}

p {
    padding: 0px 20px;
}

.col-6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxItem {
    background-color: $--primary;
    margin-bottom: 5px;
    p {
        margin-top: 5px;
    }
}

.avail {
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
        color: $--secondary;
    }
}